name: Build APK V53
on: [push] # Se activa cada vez que guardas un cambio

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0'
          channel: 'stable'
          
      - name: Get dependencies
        run: flutter pub get
        
      - name: Build APK
        run: flutter build apk --debug # Debug es más rápido para la primera prueba
        
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v3
        with:
          name: app-comagro-v53
          path: build/app/outputs/flutter-apk/app-debug.apk
