name: Build Nativo APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0'
          channel: 'stable'

      - name: Build
        run: |
          flutter create --project-name qr_app .
          
          # ERROR DE SDK 34 SOLUCIONADO
          sed -i 's/flutter.compileSdkVersion/34/g' android/app/build.gradle
          sed -i 's/flutter.targetSdkVersion/34/g' android/app/build.gradle
          
          flutter pub get
          flutter pub run flutter_launcher_icons
          flutter build apk --release
        
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: QR-Master-Nativo-Final
          path: build/app/outputs/flutter-apk/app-release.apk
