name: Build APK Master Nativa
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0'
          channel: 'stable'

      - name: Reconstruct Project
        run: |
          # Guardamos tus archivos sagrados
          mkdir ../temp_backup
          cp lib/main.dart ../temp_backup/main.dart
          cp pubspec.yaml ../temp_backup/pubspec.yaml
          cp -r assets ../temp_backup/assets
          
          # Limpiamos y recreamos la estructura de Android
          rm -rf *
          flutter create --project-name qr_app .
          
          # Restauramos tus archivos
          cp ../temp_backup/main.dart lib/main.dart
          cp ../temp_backup/pubspec.yaml pubspec.yaml
          cp -r ../temp_backup/assets assets

      - name: Build APK
        run: |
          flutter pub get
          flutter pub run flutter_launcher_icons
          flutter build apk --release
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: QR-Master-Nativo
          path: build/app/outputs/flutter-apk/app-release.apk
